#----------SOURCE S3 & STAC API information-----------------
S3_ENDPOINT=
S3_ACCESS_KEY= 
S3_SECRET_KEY= 
STAC_API_URL=


#----------TARGET S3 & STAC API information-----------------
# S3
SR_S3_BUCKET=
SR_S3_ENDPOINT=
SR_S3_ACCESS_KEY= 
SR_S3_SECRET_KEY= 
SR_S3_PREFIX_MONTHLY=
# STAC
SR_STAC_ROOT_URL=
SR_COLLECTION_ID_MONTHLY=


# ------------Database information---------------
PGHOST=
PGPORT=
PGUSER= 
PGPASSWORD= 
PGDATABASE=


# Runtime tuning overrides (CLI > .env > YAML)
# -----------Workflow publish ---------------
WORKFLOW_PUBLISH_ENABLED=false
WORKFLOW_PUBLISH_EXECUTE=false
WORKFLOW_PUBLISH_OVERWRITE=false
WORKFLOW_PUBLISH_TIMEOUT_SECONDS=30
WORKFLOW_PUBLISH_CONTINUE_ON_ERROR=false
WORKFLOW_FAIL_ON_NO_OUTPUTS=false


# ---------------Workflow SR-----------------
PIPELINE_LOG_LEVEL=INFO
PIPELINE_REPRESENTATIVE_POOL_MODE=mixed
PIPELINE_MIN_SCENES_PER_HALF=1
PIPELINE_COMPONENT_ITEM_MIN_COVERAGE=1
PIPELINE_COMPONENT_MIN_AREA_RATIO=0.0
PIPELINE_SAVE_DEBUG_DATA=false


INFER_DEVICE=cuda
INFER_PATCH_SIZE=128
INFER_OVERLAP=0.25
INFER_BATCH_SIZE=8
INFER_USE_AMP=true
INFER_GAUSSIAN_BLEND=true


#----------------- Seldom change-----------------
SR_ASSET_HREF_MODE=s3
SR_ITEM_SELF_MODE=stac_api
SR_PUBLIC_BASE_URL=
SR_INCLUDE_LOCAL_SOURCE_PATHS=false


SR_PRODUCT_VERSION=v1
SR_LICENSE=proprietary
SR_PUBLISHER=EOV
