# Dataset config
data:
  root: '/mnt/data1tb/vinh/ISSM-SAR/dataset'
  train_batch_size: 2
  test_batch_size: 2
  num_workers: 2

# Training config
train:
  epochs: 50
  lr: 0.00001
  val_step: 300


# Model architecture config
model:
  num_ifs: 3

  pfe:
    in_channels: 1
    out_channels: 64
  
  hfe:
    in_c: 64
    out_c: 64
    kernel_size: 6
    padding: 2
    stride: 2
    num_blocks: 4
  
  rec:
    in_c: 64
    out_c: 1

  ifs:
    in_c: 64
    out_c: 64
    num_groups: 3
    kernel_size: 6
    padding: 2
    stride: 2