# Dataset config
data:
  root: '/mnt/data1tb/vinh/ISSM-SAR/dataset'
  train_batch_size: 2
  test_batch_size: 2
  train_folder_name: 'train'
  valid_folder_name: 'valid'
  num_workers: 2

# Training config
train:
  epochs: 50
  lr: 0.00001
  val_step: 300
  theta_1: 1.0
  theta_2: 1.0
  theta_3: 3.0
  component_loss: True

# Model architecture config
model:
  num_ifs: 3
  use_bn: False
  use_gn: True

  pfe:
    in_channels: 1
    out_channels: 80
  
  hfe:
    in_c: 80
    out_c: 80
    kernel_size: 6
    padding: 2
    stride: 2
    num_blocks: 4
  
  rec:
    in_c: 80
    out_c: 1

  ifs:
    in_c: 80
    out_c: 80
    num_groups: 3
    kernel_size: 6
    padding: 2
    stride: 2