ckpt_path: /mnt/data1tb/vinh/ISSM-SAR/checkpoints/lightning_20260205-165352/best-epoch=02-step=025518.ckpt
device: cuda
limit: 100 # Optional: Limit number of images to infer (e.g., 100). Set null for all.

normalize:
  mean: 0.5
  std: 0.5

input:
  s1t1_path: /mnt/data1tb/vinh/ISSM-SAR/dataset/fine-tune_splited/val/S1T1
  s1t2_path: /mnt/data1tb/vinh/ISSM-SAR/dataset/fine-tune_splited/val/S1T2

output:
  s1sr_path:
  save_path: test_results_2

# Model architecture config
model:
  num_ifs: 3
  use_bn: False
  use_gn: True

  pfe:
    in_channels: 1
    out_channels: 80
  
  hfe:
    in_c: 80
    out_c: 80
    kernel_size: 6
    padding: 2
    stride: 2
    num_blocks: 4
  
  rec:
    in_c: 80
    out_c: 1

  ifs:
    in_c: 80
    out_c: 80
    num_groups: 3
    kernel_size: 6
    padding: 2
    stride: 2